body{
    font-size: 15px;
    padding: 15px;
}

h2{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    
  }

h1{
    background-color: rgb(255, 0, 34);
    display: flex;
    justify-content: center}

    


